<div class="header">
  <app-button [routerLink]="['']">Indietro</app-button>
  <h1>{{ isEditMode ? 'Modifica' : 'Crea nuovo' }} cliente</h1>
</div>
<hr>
<form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div>
    <app-text-input [control]="id" label="Id:" inputId="id" tooltipText="id del cliente"/>
  </div>

  <div>
    <app-text-input [control]="name" label="Nome:" inputId="name" tooltipText="nome del cliente"/>
  </div>

  <div>
    <app-text-input [control]="surname" label="Cognome:" inputId="surname"/>
  </div>

  <div>
    <app-text-input [control]="email" label="Email:" type="email" inputId="email"/>
  </div>

  <div>
    <app-text-input [control]="birthdate" label="Data di nascita:" type="date" inputId="birthdate"/>
  </div>

  <div>
    <app-text-input [control]="companyId" label="ID Azienda:" inputId="companyId"/>
  </div>

  <app-button type="submit" [disabled]="customerForm.invalid">
    {{ isEditMode ? 'Aggiorna' : 'Crea' }}
  </app-button>
</form>

<app-notification-modal
  *ngIf="showNotification"
  message="{{ notificationMessage }}"
  (closed)="showNotification = false"
></app-notification-modal>